// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  color: #008080;
  height: 20px;
  padding: 8 8 8 8;
  width: 100px;
  text-align: center;

}
